.footer {
    padding: 30px 0 40px;

    @media screen and (min-width: $breakpoint-sm) {
        padding: 90px 0 40px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    &__logo {
    }

    &__contact {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-size: 16px;

        @media screen and (min-width: $breakpoint-md) {
            gap: 30px;
            font-size: 18px;
        }

        span {
            margin: 0 10px;
            @media screen and (min-width: $breakpoint-sm) {
                display: none;
            }
        }
    }

    &__contact-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        font-weight: 600;
        text-transform: uppercase;

        @media screen and (min-width: $breakpoint-sm) {
            align-items: flex-end;
        }
    }

    &__contact-info {
        display: none;
        gap: 10px;
        font-weight: 400;
        text-transform: uppercase;

        @media screen and (min-width: $breakpoint-sm) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        a {
            color: $main-color;
            transition: all .3s linear;

            &:hover {
                color: $accent-color;
                transition: all .3s linear;
            }
        }
    }

    &__icons {
        padding: 0 0 30px;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        gap: 20px 0;

        @media screen and (min-width: $breakpoint-sm) {
            gap: 30px;
            padding: 0 0 60px;
            flex-wrap: nowrap;
        }

        &-icon {
            padding: 0px;
            flex: 1 1 33%;
            display: flex;
            align-items: center;
            justify-content: center;
           
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: $accent-color;
                height: 40px;
                width: 40px;
                transition: .3s;
        
                &:hover {
                    box-shadow: 0 0 0 8px #4f4c4c;
                    transition: .3s;
                }

                @media screen and (min-width: $breakpoint-sm) {
                    height: 44px;
                    width: 44px;
                    box-shadow: 0 0 0 8px #2C2C2C;
                    padding: 8px;
                }

                svg {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
    
    &__author {
        font-size: 13px;
        color: $main-color;
        opacity: 0.5;
        text-transform: uppercase;
        font-weight: 400;
    }
}
