body {
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 18px;
	color: $main-color;
	line-height: 1.3;
	letter-spacing: 0.8px;
}

a {
	text-decoration: none;
}

.wrapper {
	position: relative;
	background: $bg-color;
}

.container {
	padding: 0 30px;
	margin: 0 auto;

	@media screen and (min-width: $breakpoint-md) {
		max-width: 708px;
	}
	
	@media screen and (min-width: $breakpoint-lg) {
		max-width: 964px;
	}

	@media screen and (min-width: $breakpoint-xl) {
		max-width: 1270px;
	}
}