$main-color: #fff;
$accent-color: green;
$text-color: #7A66CC;
$bg-color: #1C1B21;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;
